@import "Compass";

$gutterAndPadding: 30px;

// Based on https://coolors.co/d62839-ba324f-175676-4ba3c3-cce6f4
$brandColorMain: rgba(186, 50, 79, 1);;
$brandColorMainContrast: white;
$brandColorSecondary: rgba(75, 163, 195, 1);
$brandColorSecondaryContrast: contrast-color($brandColorMain, darken($brandColorMain, 50%), lighten($brandColorMain, 50%));
$brandColorTertiary: rgba(214, 40, 57, 1);
$brandColorTertiaryContrast: white;
$brandColorQuaternary: rgba(23, 86, 118, 1);

// Semantic UI default colors https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/src/themes/default/globals/site.variables

