/*
  Needs an html container to be present on your page (see below) and the flash-message.js helper.

  <div class="flash-message">

  </div>
*/
.flash-message {
  position: fixed;
  padding: 20px;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.flash-message__item {
  display: block;
  position: relative;
  max-width: 300px;
  background-color: rgb(197, 226, 197);
  border: solid 2px rgb(138, 179, 138);
  @include box-shadow(1px 5px 3px 0 rgba(0, 0, 0, 0.1));
  padding: 5px 20px 5px 10px;
  margin-bottom: 10px;

  .flash-message__p {
    color: rgb(6, 141, 6);
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .flash-message__close {
    position: absolute;
    padding: 10px;
    font-size: 25px;
    top: -.2em;
    right: 0;
    color: rgb(6, 141, 6);
    pointer-events: all;
    cursor: pointer;
    @include user-select(none);
  }
}
