/* @font-face {
  font-family: 'date_stamp';
  src: url('../fonts/date_stamp/date_stamp-webfont.woff2') format('woff2'),
       url('../fonts/date_stamp/date_stamp-webfont.woff') format('woff'),
       url('../fonts/date_stamp/date_stamp-webfont.ttf') format('truetype'),
       url('../fonts/date_stamp/date_stamp-webfont.svg#date_stampregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
